/* 
body{
    width: 100vw;
    height: 100vh;
} */
.logo {
    width: 90px;
  }
  #carouselExampleCaptions {
    padding: 5px;
    
  }
  .col{
    padding-top: 10px;
  }
  .title{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
  }
  .wrapper{
    height: 200px;
    width: 100%;
    overflow: hidden;

  }
  .wrapper img{
    height: 100%;
    width: 100%;
    transition:0.5s ease;
    filter:grayscale(100%);
    cursor: pointer;

  }
  .wrapper img:hover{
    transform: scale(1.3);
    filter:grayscale(0%);
  }
  .logoEnd{
    width: 300px;
  }
  .sale{
    background-color: red;
     border-radius: 100px;
     padding: 0px 10px 0px 10px;
     color: white;
  }
 
 .space{
    margin: 0px 10px;
 }
 .top{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    /* padding: 10px 0px; */
    padding-top: 15px;
   
    color: rgb(115, 116, 117);
 }
 #contactUs{
  padding-top: 20px;
 }
 .about{
  background-color: blanchedalmond;
 }
 .our{
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
 }

 .lead{
  font-size: 15px;
 }
 .head{
  text-align: center;
  padding: 50px;
  background-color: antiquewhite;
 }
 .aboutimg{
  padding: 10px;
  
 }
 body{
  min-height: 100vh;
 }
